<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../public/bootstrap/css/font-awesome-5.8.1.css"
    />
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../public/bootstrap/css/mdb.css" />
    <link rel="stylesheet" href="../public/bootstrap/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Express Js Routing</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="mt-5 text-center">
      <h1>CONTACT</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        quidem placeat eius, quo necessitatibus at adipisci illo labore debitis
        sapiente doloribus eum consequatur fugiat corporis omnis esse, non a
        dolorum. Vero quas libero iure tenetur doloremque dolorum, cum
        cupiditate voluptatem incidunt enim reiciendis ullam aut vel aliquam
        cumque inventore nam doloribus totam quasi laudantium. Non illum autem
        hic enim a? Doloremque distinctio eaque ab sed ipsum rem. Sapiente rerum
        error qui, voluptas laboriosam ea, adipisci quaerat voluptatibus alias
        maxime tempore quisquam id animi harum officiis! Vel expedita quasi
        quibusdam omnis. Quisquam ex fugit distinctio error, impedit reiciendis
        maxime velit nihil incidunt inventore. Debitis maxime architecto quia.
        Repellat unde molestiae reprehenderit facere aliquid laudantium! Veniam
        tempora odit in architecto placeat enim. Perspiciatis corporis molestias
        placeat porro hic architecto suscipit commodi. Nesciunt porro asperiores
        soluta illo quaerat eos, debitis non quasi corporis atque, obcaecati
        pariatur, natus aut. Dolorem ad est adipisci doloremque? Optio
        praesentium blanditiis et pariatur numquam aut facere omnis voluptatem
        sequi, iure possimus?
      </p>
      <p>
        Magni illum aut fugit, repellat illo cum quisquam consequuntur culpa
        iure ducimus quas voluptas distinctio mollitia voluptatibus? Accusantium
        nesciunt, deserunt nemo dolor repellat hic ipsa eligendi dolores ipsum
        provident, doloremque veniam porro esse aliquid beatae nihil. Aperiam
        sunt nobis esse illo magni. Officia, hic ut? Temporibus repudiandae
        molestiae doloremque autem libero officiis nemo aspernatur minus velit
        omnis consequuntur laboriosam, eum dolor id architecto, asperiores
        officia tenetur? Eaque suscipit optio exercitationem iure? Repellendus
        officia non minus laudantium mollitia, ducimus accusantium ab sapiente?
        Omnis, adipisci doloribus est amet explicabo perferendis nihil, veniam
        eum, eaque laboriosam eveniet quibusdam minus. Dolores facere expedita
        officia exercitationem molestias eveniet ab delectus! Dignissimos fuga
        recusandae dolorem delectus. Ratione nostrum inventore accusamus
        perspiciatis, veritatis hic vero maxime mollitia odit? Atque, delectus!
        In, adipisci perferendis.
      </p>
    </div>

    <!-- Bootstrap JS files -->
    <script src="../public/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../public/bootstrap/js/popper.min.js"></script>
    <script src="../public/bootstrap/js/bootstrap.js"></script>
    <script src="../public/bootstrap/js/mdb.js"></script>
  </body>
</html>
