<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        font-family: "Courier New", Courier, monospace;
        background-color: lightgrey;
        text-align: center;
      }
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 18px;
      }
      nav {
        background-color: black;
        padding: 5px;
        text-align: center;
      }
      nav a {
        text-decoration: none;
        color: white;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/services">Services</a>
    </nav>
    <div>
      <h1>Contact</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid cum
        distinctio sequi optio aperiam perferendis excepturi molestiae, placeat
        consectetur, tempore ipsam at quae debitis ipsa eos rerum maiores illo
        aut. Perspiciatis deleniti minus ullam fuga laboriosam harum accusamus
        corporis laborum ex, fugiat esse est odit, rem molestiae animi fugit.
        Repudiandae repellendus eius quos aspernatur odit magnam dignissimos
        est, labore modi. Exercitationem ad, accusamus unde at voluptatum
        reiciendis optio vel, officiis, commodi doloremque ea? Repellendus
        eligendi suscipit minima quis aliquid explicabo odio, labore, ab quo,
        iusto eaque harum impedit tempora. Voluptatum.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic adipisci
        aperiam iure, labore exercitationem necessitatibus eaque corrupti
        accusantium quaerat distinctio expedita architecto animi itaque in, nam
        odio illum repellendus perferendis? Atque ipsam recusandae cumque
        commodi laboriosam at, omnis placeat debitis corrupti aspernatur nihil
        eius fugit temporibus perferendis provident cum suscipit autem,
        accusamus vero voluptate hic ex soluta dolorum! Asperiores, eveniet?
        Aspernatur, dolorem earum nobis commodi impedit maiores dolor
        consequuntur praesentium natus, voluptas perspiciatis, provident qui
        nulla voluptate ducimus voluptatum voluptatem odit eveniet temporibus
        totam asperiores. Possimus tenetur iste quod eveniet? Nisi ab, rerum
        quam atque doloremque eius nulla esse debitis dolore quia enim quis
        earum officiis deleniti molestiae reprehenderit accusantium. Iure sequi
        sapiente facere tempore facilis quidem consequuntur. Porro, nobis?ic
        vero maxime mollitia odit? Atque, delectus! In, adipisci perferendis.
      </p>
    </div>
  </body>
</html>
