<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        font-family: "Courier New", Courier, monospace;
        background-color: lightpink;
        text-align: center;
      }
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 18px;
      }
      nav {
        background-color: black;
        padding: 5px;
        text-align: center;
      }
      nav a {
        text-decoration: none;
        color: white;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/services">Services</a>
    </nav>
    <div>
      <h1>Services</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni,
        exercitationem corporis eius, modi sint amet enim voluptate quisquam
        voluptas aspernatur error porro, ab quidem? Amet culpa possimus rem
        nobis iste? Corporis impedit voluptate in, eius, obcaecati quas tenetur
        labore excepturi necessitatibus aut cupiditate saepe, odit sed ea omnis
        autem maiores deleniti nihil aliquam accusamus molestiae voluptatem! Ad
        quo reiciendis nobis? Magnam tenetur accusantium reprehenderit delectus
        esse, quis odit laudantium nemo. Sed laudantium reiciendis tempora totam
        consectetur, laborum minus quas incidunt in vel molestiae provident unde
        itaque dicta error? Totam, maiores!
      </p>
      <p>
        Magni illum aut fugit, repellat illo cum quisquam consequuntur culpa
        iure ducimus quas voluptas distinctio mollitia voluptatibus? Accusantium
        nesciunt, deserunt nemo dolor repellat hic ipsa eligendi dolores ipsum
        provident, doloremque veniam porro esse aliquid beatae nihil. Aperiam
        sunt nobis esse illo magni. Officia, hic ut? Temporibus repudiandae
        molestiae doloremque autem libero officiis nemo aspernatur minus velit
        omnis consequuntur laboriosam, eum dolor id architecto, asperiores
        officia tenetur? Eaque suscipit optio exercitationem iure? Repellendus
        officia non minus laudantium mollitia, ducimus accusantium ab sapiente?
        Omnis, adipisci doloribus est amet explicabo perferendis nihil, veniam
        eum, eaque laboriosam eveniet quibusdam minus. Dolores facere expedita
        officia exercitationem molestias eveniet ab delectus! Dignissimos fuga
        recusandae dolorem delectus. Ratione nostrum inventore accusamus
        perspiciatis, veritatis hic vero maxime mollitia odit? Atque, delectus!
        In, adipisci perferendis.
      </p>
    </div>
  </body>
</html>
